@import '~antd/dist/antd.css';
@import '~ant-design-pro/dist/ant-design-pro.css';
@import '~react-quill/dist/quill.snow.css';

body {
  margin: 0;
  padding: 0;
}

.pull-right {
  float: right;
}

.root-content {
  background: #fff;
  margin: 24px 16px;
  min-height: 360px;
  padding: 24px;
}

.header-bar {
  background: #fff;
  padding: 0;
}

.header-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #002140;
}

.header-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.header-logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}

.ql-editor {
  min-height: 6cm;
}