@import '~antd/dist/antd.css';
@import '~ant-design-pro/dist/ant-design-pro.css';

body {
  margin: 0;
  padding: 0;
}

.pull-right {
  float: right;
}

.root-content {
  background: #fff;
  margin: 24px 16px;
  min-height: 360px;
  padding: 24px;
}

.header-bar {
  background: #fff;
  padding: 0;
}