server {
    listen 80;
    gzip on;
    
    root /var/www/{{ app_domain }};
    server_name {{ app_domain }};
    
    access_log /var/log/nginx/{{ app_domain }}-access.log;
    error_log /var/log/nginx/{{ app_domain }}-error.log;

    location / {
        index index.html index.php;
    }

    location ~ \.php$ {        
        try_files $fastcgi_script_name =404;
        
        include fastcgi_params;

        fastcgi_pass			unix:/run/php/php7.2-fpm.sock;
        fastcgi_index			index.php;
        fastcgi_buffers			8 16k;
        fastcgi_buffer_size		32k;

        fastcgi_param DOCUMENT_ROOT     $realpath_root;
        fastcgi_param SCRIPT_FILENAME   $realpath_root$fastcgi_script_name;
    }   

}
